<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dx.mapper.contract.ContractMapper">


	<sql id="Base_Column_List">
        contract_id,contract_name,city,county,year_rental,sun_rental,contract_num,contract_first,payee,plan_year,start_time,end_time,pay_end_time,room_type,room_type_name,tower_type,tower_type_name,contract_type,contract_type_name
    </sql>
	<!--合同管理页面查询总条数-->
    <select id="queryContractCount"  resultType="int">
		select
		count(1)
		from contract_manage
		<where>
			<if test="contract.renewStatus != null and contract.renewStatus != ''">
				and renew_status =#{contract.renewStatus}
			</if>
			<if test="contract.extenxionStatus != null and contract.extenxionStatus != ''">
				and extenxion_status =#{contract.extenxionStatus}
			</if>
			<if test="contract.startTime != null and contract.startTime != ''">
				and pay_end_time &gt;= #{contract.startTime}
			</if>
			<if test="contract.endTime != null and contract.endTime != ''">
				and pay_end_time &lt;= #{contract.endTime}
			</if>
			<if test="contract.payEndTime != null and contract.payEndTime != ''">
				and pay_end_time &lt;= #{contract.payEndTime}
			</if>
			<if test="contract.roomTypeName != null and contract.roomTypeName != ''and contract.roomTypeName != '-1'">
				and room_type_name = #{contract.roomTypeName}
			</if>
			<if test="contract.contractTypeName != null and contract.contractTypeName != '' and contract.contractTypeName != '-1'">
				and contract_type_name = #{contract.contractTypeName}
			</if>
			<if test="contract.towerTypeName != null and contract.towerTypeName != '' and contract.towerTypeName != '-1'">
				and tower_type_name = #{contract.towerTypeName}
			</if>
			<if test="contract.contractName != null and contract.contractName != '' ">
				and contract_name like  '${contract.contractName}%'
			</if>
		</where>
	</select>
	<!--合同管理页面查询-->
	<select id="queryContractByStatus"  resultType="com.dx.model.contract.Contract">
		select count(0) as number ,
		<if test="contract.extenxionStatus != null and contract.extenxionStatus != ''">
			extenxion_operator as extenxionOperator
		</if>
		<if test="contract.renewStatus != null and contract.renewStatus != ''">
			renew_operator as renewOperator
		</if>
		from contract_manage
		<where>
			<if test="contract.renewStatus != null">
				and renew_status =#{contract.renewStatus}
			</if>
			<if test="contract.extenxionStatus != null">
				and extenxion_status =#{contract.extenxionStatus}
			</if>
		</where>
		group by
		<if test="contract.extenxionStatus != null and contract.extenxionStatus != ''">
			extenxion_operator
		</if>
		<if test="contract.renewStatus != null and contract.renewStatus != ''">
			renew_operator
		</if>
	</select>
	<!--合同管理页面查询-->
	<select id="queryContract"  resultType="com.dx.model.contract.Contract">
		select
		<include refid="Base_Column_List"/>
		from contract_manage
		<where>
			<if test="contract.renewStatus != null">
				and renew_status =#{contract.renewStatus}
			</if>
			<if test="contract.extenxionStatus != null">
				and extenxion_status =#{contract.extenxionStatus}
			</if>
			<if test="contract.startTime != null and contract.startTime != ''">
				and pay_end_time &gt;= #{contract.startTime}
			</if>
			<if test="contract.endTime != null and contract.endTime != ''">
				and pay_end_time &lt;= #{contract.endTime}
			</if>
			<if test="contract.roomTypeName != null and contract.roomTypeName != ''and contract.roomTypeName != '-1'">
				and room_type_name = #{contract.roomTypeName}
			</if>
			<if test="contract.contractTypeName != null and contract.contractTypeName != '' and contract.contractTypeName != '-1'">
				and contract_type_name = #{contract.contractTypeName}
			</if>
			<if test="contract.towerTypeName != null and contract.towerTypeName != '' and contract.towerTypeName != '-1'">
				and tower_type_name = #{contract.towerTypeName}
			</if>
			<if test="contract.contractName != null and contract.contractName != '' ">
				and contract_name like  '${contract.contractName}%'
			</if>
		</where>
		order by contract_id desc
		limit #{startIndex},#{endIndex}
	</select>
	<!--合同管理页面查新增-->
	<insert id="addContract" >
	 insert into contract_manage (
	        contract_name, year_rental, sun_rental,
	        contract_num,contract_first,payee,
	        plan_year,start_time,end_time,pay_end_time,
	        room_type,room_type_name,tower_type,
	        tower_type_name,contract_type,contract_type_name
      )
    values (#{contract.contractName},#{contract.yearRental}, #{contract.sunRental},
            #{contract.contractNum},#{contract.contractFirst},#{contract.payee},
            #{contract.planYear},#{contract.startTime},#{contract.endTime}, #{contract.payEndTime},
            #{contract.roomType}, #{contract.roomTypeName}, #{contract.towerType},
            #{contract.towerTypeName},#{contract.contractType},#{contract.contractTypeName}
      )
	</insert>
	<!--合同管理页面查导入-->
	<insert id="addContractList" >
		<foreach collection="list" item="contract" index="index" open="" close="" separator=";">
			 insert into contract_manage (
					contract_name, year_rental, sun_rental,
					contract_num,contract_first,payee,
					plan_year,start_time,end_time,pay_end_time,
					room_type,room_type_name,tower_type,
					tower_type_name,contract_type,contract_type_name
			  )
			values (#{contract.contractName},#{contract.yearRental}, #{contract.sunRental},
					#{contract.contractNum},#{contract.contractFirst},#{contract.payee},
					#{contract.planYear},#{contract.startTime},#{contract.endTime}, #{contract.payEndTime},
					#{contract.roomType}, #{contract.roomTypeName}, #{contract.towerType},
					#{contract.towerTypeName},#{contract.contractType},#{contract.contractTypeName}
			  )
		</foreach>
	</insert>
	<!--合同管理页面修改-->
	<update id="updateContract">
		update contract_manage
		<set>
			<if test="contract.contractName != null and contract.contractName != ''">
				contract_name = #{contract.contractName},
			</if>
			<if test="contract.yearRental != null and contract.yearRental != ''">
				year_rental = #{contract.yearRental},
			</if>
			<if test="contract.sunRental != null and contract.sunRental != ''">
				sun_rental = #{contract.sunRental},
			</if>
			<if test="contract.contractNum != null and contract.contractNum != ''">
				contract_num = #{contract.contractNum},
			</if>
			<if test="contract.contractFirst != null and contract.contractFirst != ''">
				contract_first = #{contract.contractFirst},
			</if>
			<if test="contract.payee != null and contract.payee != ''">
				payee = #{contract.payee},
			</if>
			<if test="contract.planYear != null and contract.planYear != ''">
				plan_year = #{contract.planYear},
			</if>
			<if test="contract.startTime != null and contract.startTime != ''">
				start_time = #{contract.startTime},
			</if>
			<if test="contract.endTime != null and contract.endTime != ''">
				end_time = #{contract.endTime},
			</if>
			<if test="contract.payEndTime != null and contract.payEndTime != ''">
				pay_end_time = #{contract.payEndTime},
			</if>
			<if test="contract.roomType != null and contract.roomType != ''">
				room_type = #{contract.roomType},
			</if>
			<if test="contract.roomTypeName != null and contract.roomTypeName != ''">
				room_type_name = #{contract.roomTypeName},
			</if>
			<if test="contract.towerType != null and contract.towerType != ''">
				tower_type = #{contract.towerType},
			</if>
			<if test="contract.towerTypeName != null and contract.towerTypeName != ''">
				tower_type_name = #{contract.towerTypeName},
			</if>
			<if test="contract.contractType != null and contract.contractType != ''">
				contract_type = #{contract.contractType},
			</if>
			<if test="contract.contractTypeName != null and contract.contractTypeName != ''">
				contract_type_name = #{contract.contractTypeName},
			</if>
			<if test="contract.extenxionStatus != null and contract.extenxionStatus != ''">
				extenxion_status = 0,
			</if>
			<if test="contract.renewStatus != null and contract.renewStatus != ''">
				renew_status = 0,
			</if>
			<if test="contract.renewOperator != null and contract.renewOperator != ''">
				renew_operator = #{contract.renewOperator},
			</if>
			<if test="contract.extenxionOperator != null and contract.extenxionOperator != ''">
				extenxion_operator = #{contract.extenxionOperator},
			</if>
		</set>
	        where contract_id=#{contract.contractId}
	</update>

	<!-- 合同管理页面批量删除 -->
	<delete id="delAll">
		delete from contract_manage where contract_id in(${ids})
	</delete>

	<!--合同管理页面类型-->
	<select id="queryType" resultType="com.dx.model.contract.SysCode">
		select code_id as codeId,code_type as codeType,code_name as codeName from sys_code
	</select>

	<!--合同管理页面修改回显-->
	<select id="queryCcontractById" resultType="com.dx.model.contract.Contract">
		select * from contract_manage where contract_id =#{contractId}
	</select>

	<select id="queryCcontractByIds" resultType="com.dx.model.contract.Contract">
		select * from contract_manage where contract_id in(${ids})
	</select>

	<update id="updateContractStatus">
		update contract_manage
		<set>
			<if test="contract.endTime != null and contract.endTime != ''">
				extenxion_status = 1,
			</if>
			<if test="contract.payEndTime != null and contract.payEndTime != ''">
				renew_status = 1,
			</if>
		</set>
		<where>
			<if test="contract.endTime != null and contract.endTime != ''">
				end_time &lt;#{contract.endTime}
			</if>
			<if test="contract.payEndTime != null and contract.payEndTime != ''">
				pay_end_time &lt;#{contract.payEndTime}
			</if>
		</where>
	</update>


</mapper>