<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dx.mapper.site.SiteMapper">
	<!--3/4/5GBBU查询总条数-->
	<select id="queryBBUCount"  resultType="int">
		select
		count(1)
		from t_equipment_bbu
        where network_type=#{equipmentBBU.networkType}
	</select>
	<!--3/4/5GBBU页面查询-->
	<select id="queryBBU"  resultType="com.dx.model.site.EquipmentBBU">
		select
		*
		from t_equipment_bbu
		where network_type=#{equipmentBBU.networkType}
		limit #{startIndex},#{endIndex}
	</select>
	<!--3/4/5GBBUpoi获取-->
	<select id="queryBBUByIdsAndType"  resultType="com.dx.model.site.EquipmentBBU">
		select
			*
		from t_equipment_bbu
		where id in (${ids})
	</select>
	<!--3/4/5GRRUpoi获取-->
	<select id="queryRRByIdsAndType"  resultType="com.dx.model.site.EquipmentRRUAAU">
		select
			*
		from t_equipment_rru_aau
		where id in (${ids})
	</select>

	<!--3/4/5GBBU页面新增-->
	<insert id="add3GBBU" >
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
		insert into t_equipment_bbu (
		dx_code,bbu_code,bbu_name,power,
		network_type)
		 values (#{item.dxCode},#{item.bbuCode},#{item.bbuName},#{item.power},
                   #{item.networkType})
			<trim prefix = "ON DUPLICATE KEY UPDATE " suffix = "" suffixOverrides = "," >
				dx_code=#{item.dxCode},
				bbu_name=#{item.bbuName},
				power=#{item.power},
				network_type=#{item.networkType}
			</trim>
        </foreach>
	</insert>

	<!-- 3/4/5BBU批量删除 -->
	<delete id="delAll">
		delete from t_equipment_bbu where id in(${ids})
	</delete>

	<!--3/4/5BBU页面修改回显-->
	<select id="query3GBBUById" resultType="com.dx.model.site.EquipmentBBU">
		select * from t_equipment_bbu where id =#{id}
	</select>
	<!--3/4/5BBU页面修改-->
	<update id="update3GBBU">
		update t_equipment_bbu
		<set>
			<if test="equipmentBBU.dxCode != null and equipmentBBU.dxCode != ''">
				dx_code = #{equipmentBBU.dxCode},
			</if>
			<if test="equipmentBBU.bbuCode != null and equipmentBBU.bbuCode != ''">
				bbu_code = #{equipmentBBU.bbuCode},
			</if>
			<if test="equipmentBBU.bbuName != null and equipmentBBU.bbuName != ''">
				bbu_name = #{equipmentBBU.bbuName},
			</if>
			<if test="equipmentBBU.power != null and equipmentBBU.power != ''">
				power = #{equipmentBBU.power},
			</if>
		</set>
		<where>
		     id = #{equipmentBBU.id}
		</where>
	</update>

	<!--3/4/5GRRU查询总条数-->
	<select id="queryRRUCount"  resultType="int">
		select
		count(1)
		from t_equipment_rru_aau
        where network_type=#{equipmentRRUAAU.networkType}
	</select>
	<!--3/4/5G 每个电信编号下的个数与耗电量-->
	<select id="queryRruInfo"  resultType="com.dx.model.site.SitManager">
		SELECT dx_code as dxCode,
		 <if test="type==3">
			 count(0) as threeRruCount,
		 </if>
		 <if test="type==4">
			 count(0) as fourRruCount,
		 </if>
		 <if test="type==5">
			 count(0) as fiveAauCount,
		 </if>
		sum(power) as power
		FROM t_equipment_rru_aau
		WHERE dx_code IN
			<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
		and network_type=#{type}
		GROUP BY dx_code ,network_type
	</select>

	<!--3/4/5G 每个电信编号下的个数与耗电量-->
	<select id="queryBBUInfo"  resultType="com.dx.model.site.SitManager">
		SELECT dx_code as dxCode,
		<if test="type==3">
			count(0) as threeBbuCount,
		</if>
		<if test="type==4">
			count(0) as fourBbuCount,
		</if>
		<if test="type==5">
			count(0) as fiveBbuCount,
		</if>
		sum(power) as power
		FROM t_equipment_bbu
		WHERE dx_code IN
		<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
			#{item}
		</foreach>
		and network_type=#{type}
		GROUP BY dx_code ,network_type
	</select>
	<!--olt每个电信编号下的个数与耗电量-->
	<select id="queryOLTInfo"  resultType="com.dx.model.site.SitManager">
		SELECT dx_code as dxCode,
			count(0) as oltCount,
		sum(power) as power
		FROM t_equipment_olt
		WHERE dx_code IN
		<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
			#{item}
		</foreach>
		GROUP BY dx_code
	</select>
	<!--3/4/5GRRU页面查询-->
	<select id="queryRRU"  resultType="com.dx.model.site.EquipmentRRUAAU">
		select
		*
		from t_equipment_rru_aau
		where network_type=#{equipmentRRUAAU.networkType}
		limit #{startIndex},#{endIndex}
	</select>

	<!--3/4/5GRRU页面新增-->
	<insert id="add3GRRU" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
             insert into t_equipment_rru_aau (
                   dx_code,rru_code,rru_name,power,
                   network_type
              )
            values (#{item.dxCode},#{item.rruCode},#{item.rruName},#{item.power},
                    #{item.networkType}
              )
			<trim prefix = "ON DUPLICATE KEY UPDATE " suffix = "" suffixOverrides = "," >
				dx_code=#{item.dxCode},
				rru_name=#{item.rruName},
				power=#{item.power},
				network_type=#{item.networkType}
			</trim>
		</foreach>
	</insert>
	<!--OLT页面新增-->
	<insert id="addOlt" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
             insert into t_equipment_olt (
                   dx_code,olt_code,olt_name,power)
            values (#{item.dxCode},#{item.oltCode},#{item.oltName},#{item.power},
              )
		<trim prefix = "ON DUPLICATE KEY UPDATE " suffix = "" suffixOverrides = "," >
			<if test="dxCode != null and dxCode != ''">
				dx_code=#{item.dxCode},
			</if>
			<if test="oltName != null and oltName != ''">
				olt_name=#{item.oltName},
			</if>
			<if test="power != null and power != ''">
				power=#{item.power},
			</if>
			olt_code=#{oltCode}
		</trim>
		</foreach>
	</insert>

	<!-- 3/4/5GRRU批量删除 -->
	<delete id="delAllRRU">
		delete from t_equipment_rru_aau where id in(${ids})
	</delete>

	<!--3/4/5GRRU页面修改回显-->
	<select id="query3GRRUById" resultType="com.dx.model.site.EquipmentRRUAAU">
		select * from t_equipment_rru_aau where id =#{id}
	</select>
	<!--3/4/5GRRU页面修改-->
	<update id="updateRRU">
		update t_equipment_rru_aau
		<set>
			<if test="equipmentRRUAAU.dxCode != null and equipmentRRUAAU.dxCode != ''">
				dx_code = #{equipmentRRUAAU.dxCode},
			</if>
			<if test="equipmentRRUAAU.rruCode != null and equipmentRRUAAU.rruCode != ''">
				rru_code = #{equipmentRRUAAU.rruCode},
			</if>
			<if test="equipmentRRUAAU.rruName != null and equipmentRRUAAU.rruName != ''">
				rru_name = #{equipmentRRUAAU.rruName},
			</if>
			<if test="equipmentRRUAAU.power != null and equipmentRRUAAU.power != ''">
				power = #{equipmentRRUAAU.power},
			</if>
		</set>
		<where>
			id = #{equipmentRRUAAU.id}
		</where>
	</update>


	<!--3站点页面查询总条数-->
	<select id="queryStieManagerCount"  resultType="int">
		select
		count(1)
		from t_base_station
	</select>
	<!--3/4/5GBBU页面查询-->
	<select id="queryStieManager"  resultType="com.dx.model.site.SitManager">
		select
		*
		from t_base_station
		limit #{startIndex},#{endIndex}
	</select>
	<!--站点导出查询-->
	<select id="querySiteByIds"  resultType="com.dx.model.site.SitManager">
		select * from t_base_station where id in(${ids})
	</select>
	<!--页面修改-->
	<update id="updateSite">
		update t_base_station
		<set>
			<if test="threeBbuCount != null and threeBbuCount != 0">
				three_bbu_count = three_bbu_count + #{threeBbuCount},
				three_bbu_power = three_bbu_power + #{power},
			</if>
			<if test="fourBbuCount!= null and fourBbuCount != 0">
				four_bbu_count = four_bbu_count + #{fourBbuCount},
				four_bbu_power = four_bbu_power + #{power},
			</if>
			<if test="fiveBbuCount != null and fiveBbuCount != 0">
				five_bbu_count = five_bbu_count + #{fiveBbuCount},
				five_bbu_power = five_bbu_power + #{power},
			</if>
			<if test="threeRruCount != null and threeRruCount != 0">
				three_rru_count = three_rru_count + #{threeRruCount},
				three_rru_power = three_rru_power + #{power},
			</if>
			<if test="fourRruCount!= null and fourRruCount != 0">
				four_rru_count = four_rru_count + #{fourRruCount},
				four_rru_power = four_rru_power + #{power},
			</if>
			<if test="fiveAauCount != null and fiveAauCount != 0">
				five_aau_count = five_aau_count + #{fiveAauCount},
				five_aau_power = five_aau_power + #{power},
			</if>
			<if test="oltCount != null and oltCount != 0">
				olt_count = olt_count + #{oltCount},
				olt_power = olt_power + #{power},
			</if>
			<if test="ipranCount != null and ipranCount != 0">
				ipran_count = ipran_count + #{ipranCount},
				ipran_power = ipran_power + #{power},
			</if>
			power_Consume =three_bbu_power+four_bbu_power+five_bbu_power+three_rru_power+four_rru_power+five_aau_power+olt_power+ipran_power
		</set>
		<where>
			dx_code = #{dxCode}
		</where>
	</update>

	<!-- 同步数据 个数 总耗电量-->
	<update id="updateRruCountAndPower">
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
			update t_base_station
			set
			<if test="item.threeBbuCount !=null and item.threeBbuCount !=''">
				three_bbu_count=#{item.threeBbuCount},three_bbu_power=#{item.power},
			</if>
			<if test="item.fourBbuCount !=null and item.fourBbuCount !=''">
				four_bbu_count=#{item.fourBbuCount},four_bbu_power=#{item.power},
			</if>
			<if test="item.fiveBbuCount !=null and item.fiveBbuCount !=''">
				five_bbu_count=#{item.fiveBbuCount},five_bbu_power=#{item.power},
			</if>
			<if test="item.threeRruCount !=null and item.threeRruCount !=''">
				three_rru_count=#{item.threeRruCount},three_rru_power=#{item.power},
			</if>
			<if test="item.fourRruCount !=null and item.fourRruCount !=''">
				four_rru_count=#{item.fourRruCount},four_rru_power=#{item.power},
			</if>
			<if test="item.fiveAauCount !=null and item.fiveAauCount !=''">
				five_aau_count=#{item.fiveAauCount},five_aau_power=#{item.power},
			</if>
			<if test="item.oltCount !=null and item.oltCount !=''">
				olt_count=#{item.oltCount},olt_power=#{item.power},
			</if>
			<if test="item.ipranCount !=null and item.ipranCount !=''">
				ipran_count=#{item.ipranCount},ipran_power=#{item.power},
			</if>
			power_Consume=(three_bbu_power+four_bbu_power+five_bbu_power+three_rru_power+four_rru_power+five_aau_power+ipran_power+olt_power)
			where dx_code =#{item.dxCode}
		</foreach>
	</update>
	<insert id="insertStation">
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
			insert into t_base_station (base_name,base_property,dx_code,tt_code,remark,rentPayer,latitude,longitude,powerMan)
			values(#{item.baseName},#{item.baseProperty},#{item.dxCode},#{item.ttCode},#{item.remark},#{item.rentPayer},#{item.latitude},#{item.longitude},#{item.powerMan})
			<trim prefix = "ON DUPLICATE KEY UPDATE " suffix = "" suffixOverrides = "," >
				base_name=#{item.baseName},
				base_property=#{item.baseProperty},
				tt_code=#{item.ttCode},
				rentPayer=#{item.rentPayer},
				remark=#{item.remark},
				latitude=#{item.latitude},
				longitude=#{item.longitude},
				powerMan=#{item.powerMan},
			</trim>
</foreach>
		</insert>
		<!--olt查询总条数-->
<select id="queryOLTCount"  resultType="int">
		select
		count(1)
		from t_equipment_olt
	</select>
		<!--olt页面查询-->
<select id="queryOLT"  resultType="com.dx.model.site.EquipmentOLT">
		select
		*
		from t_equipment_olt
		limit #{startIndex},#{endIndex}
	</select>
		<!--olt导出查询-->
<select id="queryOLTByIds"  resultType="com.dx.model.site.EquipmentOLT">
		select
		*
		from t_equipment_olt
		where id in (${ids})
	</select>

		<!--olt回显-->
<select id="queryOltById"  resultType="com.dx.model.site.EquipmentOLT">
		select * from t_equipment_olt where id =#{id}
	</select>

		<!--olt页面修改-->
<update id="updateOlt">
update t_equipment_olt
<set>
	<if test="equipmentOLT.dxCode != null and equipmentOLT.dxCode != ''">
		dx_code = #{equipmentOLT.dxCode},
	</if>
	<if test="equipmentOLT.oltCode != null and equipmentOLT.oltCode != ''">
		olt_code = #{equipmentOLT.oltCode},
	</if>
	<if test="equipmentOLT.oltName != null and equipmentOLT.oltName != ''">
		olt_name = #{equipmentOLT.oltName},
	</if>
	<if test="equipmentOLT.power != null and equipmentOLT.power != ''">
		power = #{equipmentOLT.power},
	</if>
</set>
<where>
	id = #{equipmentOLT.id}
</where>
</update>

		<!-- olt批量删除 -->
<delete id="delAllOlt">
		delete from t_equipment_olt where id in (${ids})
	</delete>

		<!--olt导出查询-->
<select id="queryOltByIds"  resultType="com.dx.model.site.EquipmentOLT">
		select
		*
		from t_equipment_olt
		where id in (${ids})
	</select>

	<!--Olt页面查询-->
	<select id="queryOlt"  resultType="com.dx.model.site.EquipmentOLT">
		select
		*
		from t_equipment_olt
		limit #{startIndex},#{endIndex}
	</select>

	<!--olt查询总条数-->
	<select id="queryIPRANCount"  resultType="int">
		select
		count(1)
		from t_equipment_ipran
	</select>
	<!--olt页面查询-->
	<select id="queryIPRAN"  resultType="com.dx.model.site.EquipmentIPRAN">
		select
		*
		from t_equipment_ipran
		limit #{startIndex},#{endIndex}
	</select>
	<!--ipran导出查询-->
	<select id="queryIPRANByIds"  resultType="com.dx.model.site.EquipmentIPRAN">
		select
		*
		from t_equipment_ipran
		where id in (${ids})
	</select>

	<!--ipran回显-->
	<select id="queryIPRANById"  resultType="com.dx.model.site.EquipmentIPRAN">
		select * from t_equipment_ipran where id =#{id}
	</select>

	<!--ipran页面修改-->
	<update id="updateIPRAN">
		update t_equipment_ipran
		<set>
			<if test="equipmentIPRAN.dxCode != null and equipmentIPRAN.dxCode != ''">
				dx_code = #{equipmentIPRAN.dxCode},
			</if>
			<if test="equipmentIPRAN.ipranCode != null and equipmentIPRAN.ipranCode != ''">
				ipran_code = #{equipmentIPRAN.ipranCode},
			</if>
			<if test="equipmentIPRAN.ipranName != null and equipmentIPRAN.ipranName != ''">
				ipran_name = #{equipmentIPRAN.ipranName},
			</if>
			<if test="equipmentIPRAN.power != null and equipmentIPRAN.power != ''">
				power = #{equipmentIPRAN.power},
			</if>
		</set>
		<where>
			id = #{equipmentIPRAN.id}
		</where>
	</update>

	<!-- olt批量删除 -->
	<delete id="delAllIPRAN">
		delete from t_equipment_ipran where id in (${ids})
	</delete>
	<!-- 站点批量删除 -->
	<delete id="delAllSit">
		delete from t_base_station where id in (${ids})
	</delete>

	<!--OLT页面新增-->
	<insert id="addIPRAN" >
		<foreach collection="list" item="equipmentIPRAN" index="index" open="" close="" separator=";">
			insert into t_equipment_ipran (
			dx_code,ipran_code,ipran_name,power)
			values (#{equipmentIPRAN.dxCode},#{equipmentIPRAN.ipranCode},#{equipmentIPRAN.ipranName},#{equipmentIPRAN.power}
			)
			<trim prefix = "ON DUPLICATE KEY UPDATE " suffix = "" suffixOverrides = "," >
				dx_code=#{dxCode},
				ipran_name=#{ipranName},
				power=#{power},
			</trim>
		</foreach>
	</insert>
</mapper>