<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dx.mapper.site.SiteMapper">
	<!--3/4/5GBBU查询总条数-->
	<select id="queryBBUCount"  resultType="int">
		select
		count(1)
		from t_equipment_bbu
        where network_type=#{equipmentBBU.networkType}
		<if test="equipmentBBU.bbuName !=null and equipmentBBU.bbuName !=''">
			and bbu_name like '%${equipmentBBU.bbuName}%'
		</if>
	</select>
	<!--3/4/5GBBU页面查询-->
	<select id="queryBBU"  resultType="com.dx.model.site.EquipmentBBU">
		select
		*
		from t_equipment_bbu
		where network_type=#{equipmentBBU.networkType}
		<if test="equipmentBBU.bbuName !=null and equipmentBBU.bbuName !=''">
			and bbu_name like '%${equipmentBBU.bbuName}%'
		</if>
		limit #{startIndex},#{endIndex}
	</select>
	<!--3/4/5GBBUpoi获取-->
	<select id="queryBBUByIdsAndType"  resultType="com.dx.model.site.EquipmentBBU">
		select
			*
		from t_equipment_bbu
		where id in (${ids})
	</select>
	<!--3/4/5GRRUpoi获取-->
	<select id="queryRRByIdsAndType"  resultType="com.dx.model.site.EquipmentRRUAAU">
		select
			*
		from t_equipment_rru_aau
		where id in (${ids})
	</select>
	<!--波分poi获取-->
	<select id="queryBFByIds"  resultType="com.dx.model.site.EquipmentBoFen">
		select
			*
		from t_equipment_bf
		where id in (${ids})
	</select>

	<!--3/4/5GBBU页面新增-->
	<insert id="add3GBBU" >
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
		insert into t_equipment_bbu (
		dx_code,bbu_code,bbu_name,power,
		network_type)
		 values (#{item.dxCode},#{item.bbuCode},#{item.bbuName},#{item.power},
                   #{item.networkType})
			<trim prefix = "ON DUPLICATE KEY UPDATE " suffix = "" suffixOverrides = "," >
				dx_code=#{item.dxCode},
				bbu_name=#{item.bbuName},
				power=#{item.power},
				network_type=#{item.networkType}
			</trim>
        </foreach>
	</insert>

	<!-- 3/4/5BBU批量删除 -->
	<delete id="delAll">
		delete from t_equipment_bbu where id in(${ids})
	</delete>

	<!--3/4/5BBU页面修改回显-->
	<select id="query3GBBUById" resultType="com.dx.model.site.EquipmentBBU">
		select * from t_equipment_bbu where id =#{id}
	</select>
	<!--3/4/5BBU页面修改-->
	<update id="update3GBBU">
		update t_equipment_bbu
		<set>
			<if test="equipmentBBU.dxCode != null and equipmentBBU.dxCode != ''">
				dx_code = #{equipmentBBU.dxCode},
			</if>
			<if test="equipmentBBU.bbuCode != null and equipmentBBU.bbuCode != ''">
				bbu_code = #{equipmentBBU.bbuCode},
			</if>
			<if test="equipmentBBU.bbuName != null and equipmentBBU.bbuName != ''">
				bbu_name = #{equipmentBBU.bbuName},
			</if>
			<if test="equipmentBBU.power != null and equipmentBBU.power != ''">
				power = #{equipmentBBU.power},
			</if>
		</set>
		<where>
		     id = #{equipmentBBU.id}
		</where>
	</update>

	<!--3/4/5GRRU查询总条数-->
	<select id="queryRRUCount"  resultType="int">
		select
		count(1)
		from t_equipment_rru_aau
        where network_type=#{equipmentRRUAAU.networkType}
		<if test="equipmentRRUAAU.rruName !=null and equipmentRRUAAU.rruName !=''">
			and rru_name like '%${equipmentRRUAAU.rruName}%'
		</if>
	</select>
	<!--olt查询总条数-->
	<select id="queryOltCount"  resultType="int">
		select
		count(1)
		from t_equipment_olt
		<where>
			<if test=" equipmentOLT.oltName !=null and equipmentOLT.oltName !=''">
				and olt_name like '%${equipmentOLT.oltName}%'
			</if>
		</where>

	</select>
	<!--波分查询总条数-->
	<select id="queryBoFenCount"  resultType="int">
		select
		count(1)
		from t_equipment_bf
		<where>
			<if test=" equipmentBoFen.bfName !=null and equipmentBoFen.bfName !=''">
				and bf_name like '%${equipmentBoFen.bfName}%'
			</if>
		</where>

	</select>
	<!--3/4/5G 每个电信编号下的个数与耗电量-->
	<select id="queryRruInfo"  resultType="com.dx.model.site.SitManager">
		SELECT dx_code as dxCode,
		 <if test="type==3">
			 count(0) as threeRruCount,
		 </if>
		 <if test="type==4">
			 count(0) as fourRruCount,
		 </if>
		 <if test="type==5">
			 count(0) as fiveAauCount,
		 </if>
		sum(power) as power
		FROM t_equipment_rru_aau
		WHERE dx_code IN
			<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
		and network_type=#{type}
		GROUP BY dx_code ,network_type
	</select>

	<!--3/4/5G 每个电信编号下的个数与耗电量-->
	<select id="queryBBUInfo"  resultType="com.dx.model.site.SitManager">
		SELECT dx_code as dxCode,
		<if test="type==3">
			count(0) as threeBbuCount,
		</if>
		<if test="type==4">
			count(0) as fourBbuCount,
		</if>
		<if test="type==5">
			count(0) as fiveBbuCount,
		</if>
		sum(power) as power
		FROM t_equipment_bbu
		WHERE dx_code IN
		<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
			#{item}
		</foreach>
		and network_type=#{type}
		GROUP BY dx_code ,network_type
	</select>
	<!--olt每个电信编号下的个数与耗电量-->
	<select id="queryOLTInfo"  resultType="com.dx.model.site.SitManager">
		SELECT dx_code as dxCode,
			count(0) as oltCount,
		sum(power) as power
		FROM t_equipment_olt
		WHERE dx_code IN
		<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
			#{item}
		</foreach>
		GROUP BY dx_code
	</select>
	<!--3/4/5GRRU页面查询-->
	<select id="queryRRU"  resultType="com.dx.model.site.EquipmentRRUAAU">
		select  * from t_equipment_rru_aau
		<where>
			<if test="equipmentRRUAAU.networkType!=null and equipmentRRUAAU.networkType!=''">
				and network_type=#{equipmentRRUAAU.networkType}
			</if>
			<if test="equipmentRRUAAU.rruName !=null and equipmentRRUAAU.rruName !=''">
				and rru_name like '${%equipmentRRUAAU.rruName%}'
			</if>
		</where>
		limit #{startIndex},#{endIndex}
	</select>
	<!--波分页面查询-->
	<select id="queryBofen"  resultType="com.dx.model.site.EquipmentBoFen">
		select *
		from t_equipment_bf
		<where>
			<if test=" equipmentBoFen.bfName !=null and equipmentBoFen.bfName !=''">
				and bf_name like '%${equipmentBoFen.bfName}%'
			</if>
		</where>
		limit #{startIndex},#{endIndex}
	</select>

	<!--3/4/5GRRU页面新增-->
	<insert id="add3GRRU" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
             insert into t_equipment_rru_aau (
                   dx_code,rru_code,rru_name,power,
                   network_type
              )
            values (#{item.dxCode},#{item.rruCode},#{item.rruName},#{item.power},
                    #{item.networkType}
              )
			<trim prefix = "ON DUPLICATE KEY UPDATE " suffix = "" suffixOverrides = "," >
				dx_code=#{item.dxCode},
				rru_name=#{item.rruName},
				power=#{item.power},
				network_type=#{item.networkType}
			</trim>
		</foreach>
	</insert>
	<!--OLT页面新增-->
	<insert id="addOlt" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
             insert into t_equipment_olt (
                   dx_code,olt_code,olt_name,power)
            values (#{item.dxCode},#{item.oltCode},#{item.oltName},#{item.power}
              )
		<trim prefix = "ON DUPLICATE KEY UPDATE " suffix = "" suffixOverrides = "," >
			dx_code=#{item.dxCode},
			olt_name=#{item.oltName},
			power=#{item.power},
			olt_code=#{item.oltCode}
		</trim>

		</foreach>
	</insert>
	<!--波分页面新增-->
	<insert id="addBoFen" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
             insert into t_equipment_bf (
                   dx_code,bf_code,bf_name,power)
            values (#{item.dxCode},#{item.bfCode},#{item.bfName},#{item.power}
              )
		<trim prefix = "ON DUPLICATE KEY UPDATE " suffix = "" suffixOverrides = "," >
			dx_code=#{item.dxCode},
			bf_name=#{item.bfName},
			power=#{item.power},
			bf_code=#{item.bfCode}
		</trim>

		</foreach>
	</insert>

	<!-- 3/4/5GRRU批量删除 -->
	<delete id="delAllRRU">
		delete from t_equipment_rru_aau where id in(${ids})
	</delete>
	<!--波分批量删除 -->
	<delete id="delAllBofen">
		delete from t_equipment_bf where id in(${ids})
	</delete>

	<!--3/4/5GRRU页面修改回显-->
	<select id="query3GRRUById" resultType="com.dx.model.site.EquipmentRRUAAU">
		select * from t_equipment_rru_aau where id =#{id}
	</select>
	<!--3/4/5GRRU页面修改-->
	<update id="updateRRU">
		update t_equipment_rru_aau
		<set>
			<if test="equipmentRRUAAU.dxCode != null and equipmentRRUAAU.dxCode != ''">
				dx_code = #{equipmentRRUAAU.dxCode},
			</if>
			<if test="equipmentRRUAAU.rruCode != null and equipmentRRUAAU.rruCode != ''">
				rru_code = #{equipmentRRUAAU.rruCode},
			</if>
			<if test="equipmentRRUAAU.rruName != null and equipmentRRUAAU.rruName != ''">
				rru_name = #{equipmentRRUAAU.rruName},
			</if>
			<if test="equipmentRRUAAU.power != null and equipmentRRUAAU.power != ''">
				power = #{equipmentRRUAAU.power},
			</if>
		</set>
		<where>
			id = #{equipmentRRUAAU.id}
		</where>
	</update>


	<!--3站点页面查询总条数-->
	<select id="queryStieManagerCount"  resultType="int">
		select
		count(1)
		from t_base_station
		<where>
			<if test=" sitManager.baseName !=null and sitManager.baseName !=''">
				and base_name like '%${sitManager.baseName}%'
			</if>
		</where>
	</select>
	<!--3/4/5GBBU页面查询-->
	<select id="queryStieManager"  resultType="com.dx.model.site.SitManager">
		select
		*
		from t_base_station
		<where>
			<if test=" sitManager.baseName !=null and sitManager.baseName !=''">
				and base_name like '%${sitManager.baseName}%'
			</if>
		</where>
		limit #{startIndex},#{endIndex}
	</select>
	<!--站点导出查询-->
	<select id="querySiteByIds"  resultType="com.dx.model.site.SitManager">
		select * from t_base_station where id in(${ids})
	</select>
	<!--页面修改-->
	<update id="updateSite">
		update t_base_station
		<set>
			<if test="threeBbuCount != null and threeBbuCount != 0">
				three_bbu_count = three_bbu_count + #{threeBbuCount},
				three_bbu_power = three_bbu_power + #{power},
			</if>
			<if test="fourBbuCount!= null and fourBbuCount != 0">
				four_bbu_count = four_bbu_count + #{fourBbuCount},
				four_bbu_power = four_bbu_power + #{power},
			</if>
			<if test="fiveBbuCount != null and fiveBbuCount != 0">
				five_bbu_count = five_bbu_count + #{fiveBbuCount},
				five_bbu_power = five_bbu_power + #{power},
			</if>
			<if test="threeRruCount != null and threeRruCount != 0">
				three_rru_count = three_rru_count + #{threeRruCount},
				three_rru_power = three_rru_power + #{power},
			</if>
			<if test="fourRruCount!= null and fourRruCount != 0">
				four_rru_count = four_rru_count + #{fourRruCount},
				four_rru_power = four_rru_power + #{power},
			</if>
			<if test="fiveAauCount != null and fiveAauCount != 0">
				five_aau_count = five_aau_count + #{fiveAauCount},
				five_aau_power = five_aau_power + #{power},
			</if>
			<if test="oltCount != null and oltCount != 0">
				olt_count = olt_count + #{oltCount},
				olt_power = olt_power + #{power},
			</if>
			<if test="ipranCount != null and ipranCount != 0">
				ipran_count = ipran_count + #{ipranCount},
				ipran_power = ipran_power + #{power},
			</if>
			<if test="bfCount != null and bfCount != 0">
				bf_count = ipran_count + #{bfCount},
				bf_power = ipran_power + #{power},
			</if>
			power_Consume =three_bbu_power+four_bbu_power+five_bbu_power+three_rru_power+four_rru_power+five_aau_power+olt_power+ipran_power+bf_power
		</set>
		<where>
			dx_code = #{dxCode}
		</where>
	</update>

	<!-- 同步数据 个数 总耗电量-->
	<update id="updateRruCountAndPower">
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
			update t_base_station
			set
			<if test="item.threeBbuCount !=null and item.threeBbuCount !=''">
				three_bbu_count=#{item.threeBbuCount},three_bbu_power=#{item.power},
			</if>
			<if test="item.fourBbuCount !=null and item.fourBbuCount !=''">
				four_bbu_count=#{item.fourBbuCount},four_bbu_power=#{item.power},
			</if>
			<if test="item.fiveBbuCount !=null and item.fiveBbuCount !=''">
				five_bbu_count=#{item.fiveBbuCount},five_bbu_power=#{item.power},
			</if>
			<if test="item.threeRruCount !=null and item.threeRruCount !=''">
				three_rru_count=#{item.threeRruCount},three_rru_power=#{item.power},
			</if>
			<if test="item.fourRruCount !=null and item.fourRruCount !=''">
				four_rru_count=#{item.fourRruCount},four_rru_power=#{item.power},
			</if>
			<if test="item.fiveAauCount !=null and item.fiveAauCount !=''">
				five_aau_count=#{item.fiveAauCount},five_aau_power=#{item.power},
			</if>
			<if test="item.oltCount !=null and item.oltCount !=''">
				olt_count=#{item.oltCount},olt_power=#{item.power},
			</if>
			<if test="item.ipranCount !=null and item.ipranCount !=''">
				ipran_count=#{item.ipranCount},ipran_power=#{item.power},
			</if>
			power_Consume=(three_bbu_power+four_bbu_power+five_bbu_power+three_rru_power+four_rru_power+five_aau_power+ipran_power+olt_power)
			where dx_code =#{item.dxCode}
		</foreach>
	</update>
	<insert id="insertStation">
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
			insert into t_base_station (base_name,base_property,dx_code,tt_code,remark,rentPayer,latitude,longitude,powerMan)
			values(#{item.baseName},#{item.baseProperty},#{item.dxCode},#{item.ttCode},#{item.remark},#{item.rentPayer},#{item.latitude},#{item.longitude},#{item.powerMan})
			<trim prefix = "ON DUPLICATE KEY UPDATE " suffix = "" suffixOverrides = "," >
				base_name=#{item.baseName},
				base_property=#{item.baseProperty},
				tt_code=#{item.ttCode},
				rentPayer=#{item.rentPayer},
				remark=#{item.remark},
				latitude=#{item.latitude},
				longitude=#{item.longitude},
				powerMan=#{item.powerMan},
			</trim>
</foreach>
		</insert>
		<!--olt页面查询-->
<select id="queryOLT"  resultType="com.dx.model.site.EquipmentOLT">
	select
	*
	from t_equipment_olt
	<where>
		<if test=" equipmentOLT.oltName !=null and equipmentOLT.oltName !=''">
			and olt_name like '%${equipmentOLT.oltName}%'
		</if>
	</where>
		limit #{startIndex},#{endIndex}
	</select>
		<!--olt导出查询-->
<select id="queryOLTByIds"  resultType="com.dx.model.site.EquipmentOLT">
		select
		*
		from t_equipment_olt
		where id in (${ids})
	</select>

		<!--olt回显-->
<select id="queryOltById"  resultType="com.dx.model.site.EquipmentOLT">
		select * from t_equipment_olt where id =#{id}
	</select>

		<!--olt页面修改-->
	<update id="updateOlt">
	update t_equipment_olt
	<set>
		<if test="equipmentOLT.dxCode != null and equipmentOLT.dxCode != ''">
			dx_code = #{equipmentOLT.dxCode},
		</if>
		<if test="equipmentOLT.oltCode != null and equipmentOLT.oltCode != ''">
			olt_code = #{equipmentOLT.oltCode},
		</if>
		<if test="equipmentOLT.oltName != null and equipmentOLT.oltName != ''">
			olt_name = #{equipmentOLT.oltName},
		</if>
		<if test="equipmentOLT.power != null and equipmentOLT.power != ''">
			power = #{equipmentOLT.power},
		</if>
	</set>
	<where>
		id = #{equipmentOLT.id}
	</where>
	</update>
	<!--波分页面修改-->
	<update id="updateBoFen">
		update t_equipment_bf
		<set>
			<if test="equipmentBoFen.dxCode != null and equipmentBoFen.dxCode != ''">
				dx_code = #{equipmentBoFen.dxCode},
			</if>
			<if test="equipmentBoFen.bfCode != null and equipmentBoFen.bfCode != ''">
				bf_code = #{equipmentBoFen.bfCode},
			</if>
			<if test="equipmentBoFen.bfName != null and equipmentBoFen.bfName != ''">
				bf_name = #{equipmentBoFen.bfName},
			</if>
			<if test="equipmentBoFen.power != null and equipmentBoFen.power != ''">
				power = #{equipmentBoFen.power},
			</if>
		</set>
		<where>
			id = #{equipmentBoFen.id}
		</where>
	</update>
		<!-- olt批量删除 -->
<delete id="delAllOlt">
		delete from t_equipment_olt where id in (${ids})
	</delete>

		<!--olt导出查询-->
<select id="queryOltByIds"  resultType="com.dx.model.site.EquipmentOLT">
		select
		*
		from t_equipment_olt
		where id in (${ids})
	</select>

	<!--Olt页面查询-->
	<select id="queryOlt"  resultType="com.dx.model.site.EquipmentOLT">
		select
		*
		from t_equipment_olt
		limit #{startIndex},#{endIndex}
	</select>

	<!--olt查询总条数-->
	<select id="queryIPRANCount"  resultType="int">
		select
		count(1)
		from t_equipment_ipran
		<where>
			<if test=" equipmentIPRAN.ipranName !=null and equipmentIPRAN.ipranName !=''">
				and ipran_name like '%${equipmentIPRAN.ipranName}%'
			</if>
		</where>
	</select>
	<!--olt页面查询-->
	<select id="queryIPRAN"  resultType="com.dx.model.site.EquipmentIPRAN">
		select
		*
		from t_equipment_ipran
		<where>
			<if test=" equipmentIPRAN.ipranName !=null and equipmentIPRAN.ipranName !=''">
				and ipran_name like '%${equipmentIPRAN.ipranName}%'
			</if>
		</where>
		limit #{startIndex},#{endIndex}
	</select>
	<!--ipran导出查询-->
	<select id="queryIPRANByIds"  resultType="com.dx.model.site.EquipmentIPRAN">
		select
		*
		from t_equipment_ipran
		where id in (${ids})
	</select>

	<!--ipran回显-->
	<select id="queryIPRANById"  resultType="com.dx.model.site.EquipmentIPRAN">
		select * from t_equipment_ipran where id =#{id}
	</select>

	<!--ipran页面修改-->
	<update id="updateIPRAN">
		update t_equipment_ipran
		<set>
			<if test="equipmentIPRAN.dxCode != null and equipmentIPRAN.dxCode != ''">
				dx_code = #{equipmentIPRAN.dxCode},
			</if>
			<if test="equipmentIPRAN.ipranCode != null and equipmentIPRAN.ipranCode != ''">
				ipran_code = #{equipmentIPRAN.ipranCode},
			</if>
			<if test="equipmentIPRAN.ipranName != null and equipmentIPRAN.ipranName != ''">
				ipran_name = #{equipmentIPRAN.ipranName},
			</if>
			<if test="equipmentIPRAN.power != null and equipmentIPRAN.power != ''">
				power = #{equipmentIPRAN.power},
			</if>
		</set>
		<where>
			id = #{equipmentIPRAN.id}
		</where>
	</update>

	<!-- olt批量删除 -->
	<delete id="delAllIPRAN">
		delete from t_equipment_ipran where id in (${ids})
	</delete>
	<!-- 站点批量删除 -->
	<delete id="delAllSit">
		delete from t_base_station where id in (${ids})
	</delete>

	<!--OLT页面新增-->
	<insert id="addIPRAN" >
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
			insert into t_equipment_ipran (
			dx_code,ipran_code,ipran_name,power)
			values (#{item.dxCode},#{item.ipranCode},#{item.ipranName},#{item.power}
			)
			<trim prefix = "ON DUPLICATE KEY UPDATE " suffix = "" suffixOverrides = "," >
				dx_code=#{item.dxCode},
				ipran_name=#{item.ipranName},
				power=#{item.power}
			</trim>
		</foreach>
	</insert>
	<update id="updageRevisedDade">
		UPDATE t_base_station t SET
		t.three_bbu_count = (SELECT COUNT(0) FROM t_equipment_bbu b WHERE t.dx_code=b.dx_code and b.network_type=3),
		t.three_bbu_power = (SELECT sum(power) FROM t_equipment_bbu b WHERE t.dx_code=b.dx_code and b.network_type=3);
		UPDATE t_base_station t SET
		t.four_bbu_count = (SELECT COUNT(0) FROM t_equipment_bbu b WHERE t.dx_code=b.dx_code and b.network_type=4),
		t.four_bbu_power = (SELECT sum(power) FROM t_equipment_bbu b WHERE t.dx_code=b.dx_code and b.network_type=4);
		UPDATE t_base_station t SET
	  	t.five_bbu_count = (SELECT COUNT(0) FROM t_equipment_bbu b WHERE t.dx_code=b.dx_code and b.network_type=5),
		t.five_bbu_power = (SELECT sum(power) FROM t_equipment_bbu b WHERE t.dx_code=b.dx_code and b.network_type=5);
		UPDATE t_base_station t SET
		t.three_rru_count = (SELECT COUNT(0) FROM t_equipment_rru_aau ra WHERE t.dx_code=ra.dx_code and ra.network_type=3),
		t.three_rru_power = (SELECT sum(power) FROM t_equipment_rru_aau ra WHERE t.dx_code=ra.dx_code and ra.network_type=3);
		UPDATE t_base_station t SET
		t.four_rru_count = (SELECT COUNT(0) FROM t_equipment_rru_aau ra WHERE t.dx_code=ra.dx_code and ra.network_type=4),
		t.four_rru_power = (SELECT sum(power) FROM t_equipment_rru_aau ra WHERE t.dx_code=ra.dx_code and ra.network_type=4);
		UPDATE t_base_station t SET
	  	t.five_aau_count = (SELECT COUNT(0) FROM t_equipment_rru_aau ra WHERE t.dx_code=ra.dx_code and ra.network_type=5),
		t.five_aau_power = (SELECT sum(power) FROM t_equipment_rru_aau ra WHERE t.dx_code=ra.dx_code and ra.network_type=5);
		UPDATE t_base_station t SET
		t.olt_count = (SELECT COUNT(0) FROM t_equipment_olt o WHERE t.dx_code=o.dx_code),
		t.olt_power = (SELECT sum(power) FROM t_equipment_olt o WHERE t.dx_code=o.dx_code);
		UPDATE t_base_station t SET
		t.bf_count = (SELECT COUNT(0) FROM t_equipment_bf o WHERE t.dx_code=o.dx_code),
		t.bf_power = (SELECT sum(power) FROM t_equipment_bf o WHERE t.dx_code=o.dx_code);
		UPDATE t_base_station t SET
	  	t.ipran_count = (SELECT COUNT(0) FROM t_equipment_ipran i WHERE t.dx_code=i.dx_code),
		t.ipran_power = (SELECT sum(power) FROM t_equipment_ipran i WHERE t.dx_code=i.dx_code)
	</update>
	<update id="updageRevisedDadeTwo">
		UPDATE t_base_station t SET 	t.three_bbu_power=0 WHERE  t.three_bbu_power is null ;
		UPDATE t_base_station t SET 	t.four_bbu_power=0 WHERE  t.four_bbu_power is null ;
		UPDATE t_base_station t SET 	t.five_bbu_power=0 WHERE  t.five_bbu_power is null ;
		UPDATE t_base_station t SET 	t.three_rru_power=0 WHERE  t.three_rru_power is null ;
		UPDATE t_base_station t SET 	t.four_rru_power=0 WHERE  t.four_rru_power is null ;
		UPDATE t_base_station t SET 	t.five_aau_power=0 WHERE  t.five_aau_power is null ;
		UPDATE t_base_station t SET 	t.olt_power=0 WHERE  t.olt_power is null ;
		UPDATE t_base_station t SET 	t.ipran_power=0 WHERE  t.ipran_power is null ;
		UPDATE t_base_station t SET 	t.bf_power=0 WHERE  t.bf_power is null ;
		UPDATE t_base_station t SET 	t.power_Consume=(t.three_bbu_power+t.four_bbu_power+t.five_bbu_power+t.three_rru_power+t.four_rru_power+t.five_aau_power+t.olt_power+t.ipran_power+t.bf_power);

	</update>
</mapper>