<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dx.mapper.user.UserMapper">


    <sql id="Base_Column_List">
        id, login_number,password,user_name, role,mobile,email, user_state
    </sql>

    <select id="getUserInfoByLoginNumber"  resultType="com.dx.model.user.UserMain">
         select
         <include refid="Base_Column_List"/>
         from sys_user
         where login_Number=#{loginNumber}
    </select>

    <select id="queryUserCount"  resultType="int">
        select count(0) from sys_user
        <where>
            <if test="userMain.userName != null and userMain.userName != ''">
                and user_name =#{userMain.userName}
            </if>
        </where>
    </select>
    <select id="queryUserByCounty"  resultType="com.dx.model.user.UserMain">
        select * from sys_user
        where county like '%${county}%'
    </select>
<!--查询用户管理列表-->
    <select id="queryUser"  resultType="com.dx.model.user.UserMain">
        select * from sys_user
        <where>
            <if test="userMain.userName != null and userMain.userName != ''">
                and user_name =#{userMain.userName}
            </if>
        </where>
    </select>
    <!--修改用户信息-->
    <update id="updateUserByUserId">
        update sys_user
            <set>
                <if test="password != null and password != ''">
                    and password =#{password},
                </if>
                <if test="role != null and role != ''">
                    and role =#{role},
                </if>
            </set>
            where id=#{id}
    </update>
    <!--查询角色下拉-->
    <select id="queryRole"  resultType="com.dx.model.nav.RoleBean">
        select * from sys_role
    </select>
    <!--根据ids查询角色-->
    <select id="queryRoleByIds"  resultType="com.dx.model.nav.RoleBean">
        select * from sys_role where id in (#{ids});
    </select>
    <!--删除用户角色表信息-->
    <delete id="deleteUserRole">
       DELETE FROM sys_user_role WHERE user_id=#{userId}
    </delete>

    <insert id="saveRolePower">
        insert into t_role_nav(id,roleId,navId) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.roleId},#{item.navId})
        </foreach>
    </insert>

    <!--查询角色总个数-->
    <select id="queryRoleAllCount"  resultType="int">
        select count(1) from sys_role

    </select>
    <!--查询角色总个数-->
    <select id="queryRoleAll"  resultType="com.dx.model.nav.RoleBean">
        select * from sys_role
    </select>
   <!--根据用户查询角色id-->
    <select id="queryRoleByUserId"  resultType="com.dx.model.nav.UserRoleBean">
        select role_id from sys_user_role where user_id=#{userId}
    </select>


<!--删除用户原有角色-->
    <delete id="deleteRole">
	delete from sys_user_role where user_id=#{userId}
	</delete>
    <!-- 新增角色 -->
    <insert id="saveRole">
        insert into sys_user_role(id,user_id,role_id) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.userId},#{item.roleId})
        </foreach>
    </insert>

    <!--修改用户信息-->
    <update id="updateUserRoleByUserId">
        update sys_user
        <set>
            <if test="userMain.role != null and userMain.role != ''">
                 role =#{userMain.role}
            </if>
        </set>
        where id=#{userId}
    </update>

    <insert id="addUser">
        insert into sys_user(login_Number,password,user_Name,mobile,email,role,county) values
            (#{userMain.loginNumber},#{userMain.password},#{userMain.userName},#{userMain.mobile},#{userMain.email},#{userMain.role},#{userMain.county})
    </insert>

    <!-- 合同管理页面批量删除 -->
    <delete id="delUser">
		delete from sys_user where id in(${ids})
	</delete>


    <select id="getNavList" parameterType="int" resultType="com.dx.model.nav.NavTree">
		select id,name as text,url as href,pid
			from  sys_nav
	</select>

    <select id="queryRoleNavById" resultType="com.dx.model.nav.RoleNavBean">
		select * from sys_role_power  where role_id=#{roleId}
	</select>


    <delete id="deleteRoleNav">
	    delete from sys_role_power where role_id=#{roleId}
	</delete>

    <insert id="saveRoleNav">
        insert into sys_role_power(id,role_id,nav_id) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.roleId},#{item.navId})
        </foreach>
    </insert>

    <insert id="addMenu">
        insert into sys_power_menu(id,name,url,nav_id) values
            (#{id},#{name},#{url},#{navId})
    </insert>


    <select id="queryPowerMenuList" resultType="com.dx.model.nav.NavMenuBean">
			select * from sys_power_menu  where nav_id=#{navId}
	</select>

    <delete id="delPowerMenu">
        delete from sys_power_menu where id=#{id}
    </delete>

    <select id="findUserPowerUrl" resultType="string">
	select DISTINCT spm.url from  sys_user_role sur
     left join sys_role_power srp on sur.role_Id=srp.role_id
     left join sys_power_menu spm on srp.nav_id=spm.nav_id
    where sur.user_id=#{value} and spm.url !=''

	UNION
	select DISTINCT sn.url from sys_user_role sur
	left join sys_role_power srp on sur.role_Id=srp.role_id
	left join sys_nav sn on srp.nav_id=sn.id
	where sur.user_id=#{value} and sn.url!=''

	</select>
</mapper>