<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dx.mapper.user.UserMapper">
    <resultMap id="UserMain" type="com.dx.model.user.UserMain">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="login_Number" jdbcType="VARCHAR" property="loginNumber" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="mobile" jdbcType="VARCHAR" property="mobile" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="user_state" jdbcType="INTEGER" property="userstate"/>
        <result column="create_time" jdbcType="VARCHAR" property="makedate"/>
        <result column="org_code" jdbcType="VARCHAR" property="orgCode"/>
        <result column="operator" jdbcType="VARCHAR" property="operator"/>
        <result column="wechat_user_id" jdbcType="VARCHAR" property="wechatUserId"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, login_number,password,user_name, mobile,email, user_state, create_time,org_code,operator,wechat_user_id
    </sql>

    <select id="getUserInfoByLoginNumber"  resultType="com.dx.model.user.UserMain">
         select
         <include refid="Base_Column_List"/>
         from sys_user
         where login_Number=#{loginNumber}
    </select>



</mapper>